body {
  background-color: #345;
  font: 16px Verdana, sans-serif;
  color: #fafaff;
}

.form__title {
  margin: 10px auto;

  font: 4rem "Sigmar One", cursive;
  text-align: center;

  color: #FF9;
}

.form {
  max-width: 400px;
  margin: 10px auto;

}

.field__label {
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: .1rem;
}

.input {
  height: 1.5rem;
  width: 100%;
  margin-bottom: 10px;
  padding: .5rem;

  font-weight: 600;
  color: #345;

  border: 1px solid inherit;
  box-shadow: 1px 1px 2px inherit;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.input:focus {
  box-shadow: 2px 2px 4px #dfd;
}

.input.invalid {
  border: 2px solid rgba(220, 20, 60, 0.7);
}

.error__message {
  font-size: .8rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: normal;
  color: #dc143c;
}

.submit__button {
  width: 30%;
  display: block;
  margin: 10px auto;

  font-size: 20px;
  font-weight: 600;
  text-align: center;

  border-color: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;

  transition: transform .3s linear;
}

.submit__button:hover,
.submit__button:focus {
  color: #fafaff;

  background-color: #234;
  box-shadow: 2px 2px 4px #dfd;

  transform: scale(.95);
}

.submit__button::after {
  content: "Go!";
}

.submit__button:hover::after {
  content: "Faster!";
}

.submit__button:disabled::after {
  content: "Go!";
}

.submit__button:disabled {
  color: #c0c0cc;

  background-color: #fafaff;
  border-color: transparent;
  box-shadow: none;

  transform: none;
}

.thanks {
  margin: 20px auto;

  text-align: center;
  line-height: 1.4;
}